input {
    border-radius: 5px;
    border: 1px solid #cdcdcd;
}

#artistDirectory {
    width: 35%;
    margin: 0 auto;
    font-family: "Calibri";
}

#aDTop {
    border: 1px solid #cdcdcd;
    font-size: 20pt;
    font-family: "Bookman Old Style";
    padding: 5%;
}

#searchBox {
    width: 70%;
    margin-top: 5%;
    padding: 1%;   
}

#artistList {
    font-size: 15pt;
    margin-right: 8%;
    margin-left: 8%;
}

.artistProfile {
    border: 1px solid #cdcdcd;
    padding: 3% 4% 3% 4%;
    display: flex;
}

.artistAbout {
    font-size: 11pt;
    font-family: "Arial";
}

.artistInfo {
    padding-left: 3%;
    width: 75%;
    padding-top: 2.5%;
}

.artistProfile:hover {
    background-color: #f5f5f5;
}

#artistForm {
    text-align: center;
}

.artistFormInput {
    text-align: center;
    width: 75%;
    padding: 1%;
}

.btn_Form {
    background-color: #DDDDDD;
    padding: 2%;
    margin-left: 1%;
}

#btn_createNewArtist {
    width: 40%;
}

.btn_delete {
    background-color: #DD143C;
    color: #FFFFFF;
    height: 100%;
    padding: 3%;
    margin-top: 5%;
}

.button {
    border: none;
}
