.artistDirectory {
    width: 35%;
    margin: 0 auto;
    font-family: "Calibri";
}

.aDTop {
    border: 1px solid #cdcdcd;
    font-size: 20pt;
    padding: 5%;
}

#searchBox {
    width: 100%;
    margin-top: 5%;
    padding: 1%;
    border: 1px solid #cdcdcd;
}

.artistList {
    font-size: 15pt;
    margin-right: 8%;
    margin-left: 8%;
}
.artistProfile {
    border: 1px solid #cdcdcd;
    padding: 3% 4% 3% 4%;
    display: flex;
}

.artistschool {
    font-size: 12pt;
}

.artistInfo {
    padding-left: 3%;
    width: 100%;
    padding-top: 2.5%;
}

.artistProfile:hover {
    background-color: #f5f5f5;
}
